* {
	margin: 0;
	padding: 0;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

.error {
	color: red;
}

.danger {
	color: white;
	background-color: red;
	border: none;
	padding: 5px;
}

.login-error {
	color: red;
	text-align: center;
}

.success {
	color: green;
}

/*
=============
Login
=============*/
.wrapper {
	margin: 100px auto;
	width: 960px;
}

#contacts {
	width: 50%;
	float: left;
}
#login {
	
	float: left;
}

	#logo img {
		width: 90%;
	}

#content {
	padding: 40px 100px;
}

#login {
	width: 49%;
	border: 1px solid #777;
}

#login-title {
	border-bottom: 1px solid #777;
	background: #777;
	text-align: center;
	padding: 11px;
}

#form {
	margin: 20px 40px 40px 40px;
}

	#form form {
		margin: 0 80px;
	}

	#username,
	#password {
		width: 200px;
		height: 25px;
		font-size: 15px;
		margin-top: 20px;
		padding-left: 10px;
	}

	#submit {
		width: 215px;
		margin-top: 20px;
	}

/*
=============
Index
=============*/
.wrap-2 {
	margin-top: 20px;
}

	.admin-heading {
		float: right;
	}

.actor-preview {
	margin: 30px 0;
	display: block;
	padding: 20px;
	border: 1px solid #777;
}

.actor-photo,
.actor-info {
	float: left;
}

.actor-photo {
	margin-right: 30px;
}

.favorites {
	margin-top: 10px;
}
